{% extends "base.html" %}
{% block title %}Add Artist{% endblock %}

{% block body %}
<form action="/addartist" method="post">
    Song Name: <input type="text" name="song_name"/><br>
    Artist:
    <select id="select-artists" name="artist">
        <option></option>
        {% for artist in artists %}
        <option value="{{artist.Name}}"> {{artist.Name}} </option>
        {% endfor %}
    </select><br>
    <input type="submit" value="submit"/><br>
</form>
<button type="button" onclick="window.location.href='index'">Home</button>

<script>
$('#select-artists').select2({
    allowClear: true,
    placeholder: "Search",
    language: {
        noResults: function () {
            return $("<a href='/addartist'>Add Missing Artist</a>");
        }
    }
});
</script>
{% endblock %}
