#navbar {
    color: white;
    width: 100%;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar > h1 {
    display: inline;
    text-align: center;
}

li button {
    display: block;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-width: 0px;
    text-align: center;
    padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    cursor: pointer;
}